:root {
    --background: #15161C;
    --banner: #0E4686;
    --text: #E4E4E4;
    --accent1: #6897CE;
    --accent1-light: #BAC9DA;
    --accent2: #8D3B72;
    --shadow: drop-shadow(5px 5px #00000077);
}

/* GENERAL STYLING */

body {
    background: var(--background);
    color: var(--text);
    font-size: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: var(--banner);
    z-index: 1;
}

.main {
    width: 65%;
    min-width: 750px;
    position: relative;
    top: calc(65px + 8px);
}

section {
    border-bottom: 2px solid var(--accent2);
    margin: 24px 0;
}

.about {
    align-content: center;
    /* Min height = 100vh - banner height - top margin*/
    min-height: calc(100vh - 65px - 30px); 
}


.contact {
    text-align: center;
    margin-bottom: 16px;
    border: none;

    & .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    & img {
        width: 50px;
        filter: var(--shadow);
        transition: scale 0.5s;

        &:hover {
            scale: 1.08;
        }
    }
}

h2 {
    text-align: center;
    color: var(--accent1);
}

/* SMALL WINDOW (TABLET) STYLING */
@media only screen and (max-width: 1200px) {
    body {
        background: #082400;
    }
}

/* PHONE STYLING */
@media only screen and (max-width: 500px) {
    body {
        background: #330101;
    }
}